<div class="movies">
        @for (movie of movies.results; track $index) {
            <!-- <div class="movie">
                <div class="movie-poster">
                    <img [src]="movie.poster" alt="">
                </div>
                {{ movie.name }}

                @if (!isFavorite(movie.id)) {
                    <button style="background-color: red;" (click)="addMovieFavorite(movie)">Удалить из избранного</button>
                } @else {
                    <button (click)="addMovieFavorite(movie)">Добавить в избранное</button>
                }
            </div> -->
            <app-movie-card [movie]="movie"></app-movie-card>
        }
</div>