<header>
  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="route">Главная</a>
    <a routerLink="/favorites" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="route">Избранное</a>
    <a routerLink="/search" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="route">Поиск</a>
    <a routerLink="/registartion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="route">Регистрация</a>
  </nav>
</header>

<main class="main">
  <router-outlet />
</main>